.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 812px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-gap: 25px;
  grid-template-areas: "header header header"
                       "left main right"
                       "footer footer footer"
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: yellow;
  grid-area: header;
}

.App-header h1 {
  margin: 0 0;
  font-style: italic;
}

.Game-board {
  height: 812px;
  width: 812px;
  padding: 5px;
  border: 2px solid yellow;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  grid-area: main;
}

.game-info {
  grid-area: left
}

.debug-info {
  grid-area: right
}

.App-link {
  color: #61dafb;
}

.Info {
  width: 90%;
  color: yellow;
  border: 2px solid yellow;
  border-radius: 5px;
  max-height: 750px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: 10% 1fr;
  grid-gap: 20px;
}

.Info h2 {
  text-align: left;
  padding-left: 50px;
  font-style: italic;
}

.Info .Info-content {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding-bottom: 15px;
  padding-top: 20px;
}
